body
{
	background: #4A403F;
	font-family: verdana;
	font-size: 0.8em;
	margin: auto;
    text-align: center;
}

h2, h3, h4, .sda, a.link
{
	color: #990100;
}

h2, h3, h4
{
	margin: 0px;
	margin-top: 4px;
	font-weight: bold;
	font-family: arial;
	font-size: 1.4em;
	padding: 0px;
	border: 0px
}

h2
{
    font-size: 1.6em;
}

h4
{
    font-size: 1.2em;
}

p
{
    margin: 0 0 5px !important;
}

td
{
    padding: 2px 3px 2px 3px !important;
}

table
{
    margin: 0 !important;
    width: auto !important;
}

.indent
{
    margin-left: 10px;
}

.header
{
}

.sda
{
	font-weight: bold;
}

.section
{
    float: none;
    clear: both;
}

.header-contact
{
    float: left;
}

#main
{
    background: #ffffff;
    margin: auto;
    text-align: left;
	width: 760px; 
}

.color-bar
{
	background-color: #990100;
    float: left;
    height: 100%;
    margin-right: 10px;
    margin-top: -10px;
    width: 30px;
}

.content-wrapper
{
    float: left;
    padding: 5px;
    width: 690px;
}

.content
{
    margin-top: 15px;
    float: left;
}