body
{
	background: #4A403F;
	font-family: verdana;
	font-size: 0.8em;
	margin: auto;
    text-align: center;
}

h2, h3, h4, .sda, a.link
{
	color: #990100;
}

h2, h3, h4
{
	margin: 0px;
	margin-top: 4px;
	font-weight: bold;
	font-family: arial;
	font-size: 1.4em;
	padding: 0px;
	border: 0px
}

h2
{
    font-size: 1.6em;
}

h4
{
    font-size: 1.2em;
}

p
{
    margin: 0 0 5px !important;
}

td
{
    padding: 2px 3px 2px 3px !important;
}

table
{
    margin: 0 !important;
    width: auto !important;
}

.indent
{
    margin-left: 10px;
}

.header
{
}

.sda
{
	font-weight: bold;
}

.section
{
    float: none;
    clear: both;
}

.header-contact
{
    float: left;
}

#main
{
    background-color: #ffffff;
    margin: auto;
    text-align: left;
	width: 760px; 
}

.color-bar
{
	background-color: #990100;
    float: left;
    margin-right: 10px;
    margin-top: -10px;
    width: 30px;
    height: 110%;
}

.content-wrapper
{
    float: left;
    padding: 5px;
    width: 690px;
}

.content
{
    float: left;
}

.thinline
{
    background: #990100;
    height: 4px;
    min-height: 4px;
    float: left;
    clear: left;
    margin-left: -8px;
    width: 725px;
    line-height: 0.5em;
}

.copyright
 {
    text-align: left;
    float: left;
    clear: left;
    width: 580px;
    font-size: 0.85em;
    padding-top: 2px;
    padding-bottom: 2px;
}